In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv(r"C:\Users\Dell\Downloads\TripAdvisor_RestauarantRecommendation.csv")

In [3]:
data.shape

(3062, 11)

In [4]:
#Shape fo the dataset is 3062 rows and 11 columns

In [5]:
data.columns

Index(['Name', 'Street Address', 'Location', 'Type', 'Reviews',
       'No of Reviews', 'Comments', 'Contact Number', 'Trip_advisor Url',
       'Menu', 'Price_Range'],
      dtype='object')

In [6]:
#Above are features of dataset

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3062 entries, 0 to 3061
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              3062 non-null   object
 1   Street Address    3062 non-null   object
 2   Location          3062 non-null   object
 3   Type              3049 non-null   object
 4   Reviews           3062 non-null   object
 5   No of Reviews     3062 non-null   object
 6   Comments          2447 non-null   object
 7   Contact Number    3062 non-null   object
 8   Trip_advisor Url  3062 non-null   object
 9   Menu              3062 non-null   object
 10  Price_Range       3062 non-null   object
dtypes: object(11)
memory usage: 263.3+ KB

In [8]:
#Basic summary shows some missing values and all features are of object type

In [9]:
data.head()

,Name,Street Address,Location,Type,Reviews,No of Reviews,Comments,Contact Number,Trip_advisor Url,Menu,Price_Range
0,Betty Lou's Seafood and Grill,318 Columbus Ave,"San Francisco, CA 94133-3908","Seafood, Vegetarian Friendly, Vegan Options",4.5 of 5 bubbles,243 reviews,NaN,+1 415-757-0569,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$
1,Coach House Diner,55 State Rt 4,"Hackensack, NJ 07601-6337","Diner, American, Vegetarian Friendly",4 of 5 bubbles,84 reviews,"Both times we were there very late, after 11 P...",+1 201-488-4999,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$
2,Table Talk Diner,2521 South Rd Ste C,"Poughkeepsie, NY 12601-5476","American, Diner, Vegetarian Friendly",4 of 5 bubbles,256 reviews,Waitress was very friendly but a little pricey...,+1 845-849-2839,https://www.tripadvisor.com//Restaurant_Review...,http://tabletalkdiner.com/menu/breakfast/,$$ - $$$
3,Sixty Vines,3701 Dallas Pkwy,"Plano, TX 75093-7777","American, Wine Bar, Vegetarian Friendly",4.5 of 5 bubbles,235 reviews,Not sure why I went there for the second time....,+1 469-620-8463,https://www.tripadvisor.com//Restaurant_Review...,https://sixtyvines.com/menu/plano-tx/,$$ - $$$
4,The Clam Bar,3914 Brewerton Rd,"Syracuse, NY 13212","American, Bar, Seafood",4 of 5 bubbles,285 reviews,Doesn't look like much from the outside but wa...,+1 315-458-1662,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$

In [10]:
data.describe().T

,count,unique,top,freq
Name,3062,2641,Texas Roadhouse,13
Street Address,3062,2814,3333 Bristol St,8
Location,3062,2653,"Costa Mesa, CA 92626-1873",8
Type,3049,669,"Italian, Vegetarian Friendly, Vegan Options",137
Reviews,3062,6,4.5 of 5 bubbles,1956
No of Reviews,3062,811,58 reviews,18
Comments,2447,2291,"The most warn and welcoming environment, Excel...",4
Contact Number,3062,2850,Not Available,19
Trip_advisor Url,3062,2886,https://www.tripadvisor.com//Restaurant_Review...,4
Menu,3062,705,Check The Website for a Menu,2253
Price_Range,3062,6,$$ - $$$,2385

In [11]:
#MOst features have unique values more Except for reviews and price range

In [12]:
#Here deleting the contact number , URL and Menu from dataset as they wont be of much help in the recommendation system building

In [13]:
data = data.drop(['Contact Number', 'Trip_advisor Url','Menu'],axis=1)

In [14]:
#Missing value check

In [15]:
data.isnull().sum()

Name                0
Street Address      0
Location            0
Type               13
Reviews             0
No of Reviews       0
Comments          615
Price_Range         0
dtype: int64

In [16]:
#Type and Comments have null values , we need to fill 
# THey are both object variables , so type can be filled by mode and Comments by empty space

In [17]:
data["Comments"]=data["Comments"].fillna("")
data["Type"]=data["Type"].fillna(data["Type"].mode()[0])

In [18]:
data.isnull().sum()

Name              0
Street Address    0
Location          0
Type              0
Reviews           0
No of Reviews     0
Comments          0
Price_Range       0
dtype: int64

In [19]:
#After filling there are no missing values found

In [20]:
# We need to create tfidf vector based on the comments feature

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf=TfidfVectorizer(stop_words="english")
tfidf_matrix=tfidf.fit_transform(data["Comments"])
tfidf_matrix.shape

(3062, 6245)

In [22]:
#Calculating the cosine similarity scores

In [23]:
from sklearn.metrics.pairwise import cosine_similarity
similarity =cosine_similarity (tfidf_matrix,tfidf_matrix)

In [24]:
# We will need to find the indices for the hotel names

In [25]:
indices=pd.Series(data.index,index=data["Name"])
indices

Name
Betty Lou's Seafood and Grill       0
Coach House Diner                   1
Table Talk Diner                    2
Sixty Vines                         3
The Clam Bar                        4
                                 ...
Indigo Kitchen & Ale House       3057
City Vineyard                    3058
BRIO Tuscan Grille               3059
Maywood Pancake house            3060
Porto Leggero                    3061
Length: 3062, dtype: int64

In [26]:
#We need to create a function to take the name and similarity score and find the similar hotels based on the comments

In [27]:
def restaurant_rec_sys(name,similarity=similarity):
    index=indices[name]
    similarity_scores=list(enumerate(similarity[index]))
    similarity_scores=sorted(similarity_scores,key=lambda x:x[1],reverse =True)
    similarity_scores=similarity_scores[:11]
    res_indices=[i[0] for i in similarity_scores]
    return data["Name"].iloc[res_indices]

In [28]:
#We can now call the function along with the required hotel names and 
#it will give similar hotel based on the similarity scores calculated based on comments

In [29]:
restaurant_rec_sys("The Clam Bar",similarity=similarity)

4                         The Clam Bar
1075    Toulouse Cafe and Bar (Dallas)
1842                          Lapellah
1156               LongHorn Steakhouse
2753        Copper Top Tavern Camillus
2018               Terra Mediterranean
2194                      P.F. Chang's
741                Shanghai You Garden
744           Gringo's Mexican Kitchen
2416                 Logan's Roadhouse
1648                        Applebee's
Name: Name, dtype: object

In [30]:
restaurant_rec_sys("Betty Lou's Seafood and Grill",similarity=similarity)

0             Betty Lou's Seafood and Grill
1                         Coach House Diner
2                          Table Talk Diner
3                               Sixty Vines
4                              The Clam Bar
5                               E Tutto Qua
6      Black Angus Steakhouse - Federal Way
7                                  Ziziki's
8     Vince's Italian Restaurant & Pizzeria
9                    John Thomas Steakhouse
10                            ZaZa's Cucina
Name: Name, dtype: object

In [31]:
restaurant_rec_sys("Toulouse Cafe and Bar (Dallas)",similarity=similarity)

1075    Toulouse Cafe and Bar (Dallas)
4                         The Clam Bar
856       Torero's Mexican Restaurants
1351               Pappasito's Cantina
2843                       Chanterelle
1711       BJ's Restaurant & Brewhouse
1410       BJ's Restaurant & Brewhouse
1169                      The Georgian
1980                     The Pink Door
217                         Houlihan's
2462      Harry's Oyster Bar & Seafood
Name: Name, dtype: object